body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}



:root {
    --medium-gray: rgb(184, 184, 190);
    --light-gray: rgb(224, 224, 233);
    --darkOrange: rgb(185, 144, 7);
    --lightOrange: rgb(243, 188, 8);
    --darkRed: rgb(146, 11, 11);
    --lightRed: rgb(240, 131, 131);
}

.loader {
    width: 20px;
    height: 20px;
    border-top: 1px solid cyan;
    border-right: 1px solid cyan;
    border-bottom: 1px solid cyan;
    border-radius: 50%;
    animation: loader;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    align-self: center;
    justify-self: center;
}

@keyframes loader {
    0% {
        transform: rotate(60deg);
    }

    20% {
        transform: rotate(120deg);
    }

    40% {
        transform: rotate(180deg);
    }

    60% {
        transform: rotate(240deg);
    }

    80% {
        transform: rotate(300deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.dashboard-content {
    width: 100%;
    height: 100%;
    padding: 1rem;
    display: block;
}

.filterRow {
    width: 100%;
    height: 10%;
    background-color: var(--medium-gray);
    border-radius: 12px;
    display: flex;
    user-select: none;
}

.filterCol {
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 0 1rem;
    column-gap: 1rem;
}

.tabCell {
    width: fit-content;
    height: fit-content;
    padding: 0.2rem;
    background-color: var(--light-gray);
    color: white;
    border-radius: 7px;
    cursor: pointer;
}

.searchCol {
    width: 40%;
    height: 100%;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: start;
}

.searchBar {
    width: 100%;
    background-color: white;
    border-radius: 10px;
    padding: 0.2rem;
    outline: none;
}

.content-main {
    padding: 2rem 1rem;
    width: 100%;
    height: 100%;
}

/* DashBoard layouts */
/* Info layout */
.infoLayout {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.infoCell {
    display: flex;
    width: 50%;
    height: auto;
}

/* Organizations layout */

.organizationLayout {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    scrollbar-width: none;
    display: flex;
}

.orgCreation {
    flex: 0.5;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
    padding: 1rem;
    border-right: 1px solid cyan;
}

.orgJoin {
    flex: 0.5;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
    padding: 1rem;
}

.formOrgCreation {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;

}

.createOrgButton,
.joinOrgButton {
    background-color: var(--darkgreen);
    color: white;
    padding: 0.5rem 1rem;
    max-width: fit-content;
    max-height: fit-content;
    min-width: 4rem;
    min-height: 2rem;
    border-radius: 12px;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-out;
}

.createOrgButton:hover,
.joinOrgButton:hover {
    transform: scale(1.1);
    background-color: var(--lightgreen);
}

.createOrgInput {
    background-color: var(--light-gray);
    width: 100%;
    padding: 0.2rem 0.5rem;
    outline: none;
    border-radius: 10px;

}

.usersLayout {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    scrollbar-width: none;
    display: flex;
    flex-direction: column;
}

.notFound {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.usersContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.orgTokenSection {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
    padding: 1rem 0;
}



/* 2nd layout in organizations dashboard */
.orgHandler {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.orgInfoCol {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.orgValidationTokenCol {
    display: flex;
    align-items: center;
    min-height: 50%;
    max-height: 55%;
    padding: 2rem 1rem;

}

.orgActionsCol {
    display: flex;
    justify-content: end;
    align-items: end;
    min-height: 30%;
    max-height: 33%;
    padding: 1rem;
}

.ownerActionsCol {
    display: flex;
    justify-content: end;
    width: 30%;
    height: fit-content;
    gap: 1rem;
}

#org_validation_token {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    column-gap: 1rem;
}

.inputToken {
    width: 40%;
    padding: 0.3rem 0.2rem;
    border-radius: 10px;
    background-color: var(--light-gray);
}

.editButton {
    background-color: var(--darkOrange);
    color: white;
    padding: 0.5rem 1rem;
    max-width: fit-content;
    max-height: fit-content;
    min-width: 4rem;
    min-height: 2rem;
    border-radius: 12px;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-out;
}

.editButton:hover {
    transform: scale(1.1);
    background-color: var(--lightOrange);
}

.deleteButton {
    background-color: var(--darkRed);
    color: white;
    padding: 0.5rem 1rem;
    max-width: fit-content;
    max-height: fit-content;
    min-width: 4rem;
    min-height: 2rem;
    border-radius: 12px;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-out;
}

.deleteButton:hover {
    transform: scale(1.1);
    background-color: var(--lightRed);
}